
.page {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}


.main {
    margin: auto;
}

.google {
    margin: auto;
}

input {
    width: 500px;
    height: 25px;
    padding: 0px, 40px;
    border-width: 1pt;
    border-style: solid;
    border-color: rgba(201, 202, 201, 0.973);
    border-radius: 50px;
    margin-bottom: 20px;
}

form {
    margin: auto;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.left-align {
    float: left;
}

.right-align {
    float: right;
}

li {
    display: inline;
}

a:link,
a:visited {
    text-decoration: none;
    color: #5f6368;
    font-size: 14px;
}

.main-body {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.main-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.footer {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    position: absolute;
    bottom: 0;
    width: 100%;
}